{% block content %}
	
<h2> Mapa de Calor </h2>
	<form id="formMapaCalor">	
		<label> URL:</label>
		<input id="url" type="text"/>
		<input id="submitHeatMap" type="button" value="Enviar" class="submit"/>
	</form>
	<div id="heatMap">
	</div>

{% endblock %}
